.main-container {
    margin-left: 260px; /* Espaço para o menu lateral */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 20px;
}

.main-container .form-title {
    font-size: 25px;
    color: #6aadcd;
    padding: 10px;
    display: flex;
    margin-bottom: 20px;
}

.main-container .box-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 260px); /* Ajusta para o espaço do menu lateral */
    height: calc(100vh - 60px);
}

.main-container .box-table .form-title {
    font-size: 40px;
    color: #6aadcd;
    margin-bottom: 10px;
    font-weight: bold;
}

.main-container .box-table .form-to.register {
    background-color: red;
    margin-bottom: auto;
    margin-bottom: 50px;
}

.main-container .box-table .table-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    background: #6aadcd;
    border-radius: 15px;
    width: 80%;
    max-width: 600px;
    overflow-y: auto;
    box-sizing: border-box;
    margin-top: 40px;
    box-shadow: 0px 30px 40px #00000056;
}

/* Media Queries */

/* Tablet e telas pequenas */
@media (max-width: 1024px) {
    .main-container {
        margin-left: 200px; /* Ajusta para o menu lateral */
    }

    .main-container .box-table {
        width: calc(100% - 200px); /* Ajusta para o espaço do menu lateral */
    }
}

/* Smartphones */
@media (max-width: 768px) {
    .main-container {
        margin-left: 0; /* Remove o espaço do menu lateral */
    }

    .main-container .box-table {
        width: 100%;
    }
}
