@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

/* Estilos da Tabela */
.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1.2em;
    min-width: 100%;
    background-color: #5da2c4; /* Cor do fundo da tabela */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}

.content-table thead tr {
    background-color: #57b6d9; /* Cor do cabeçalho */
    color: #ffffff;
    text-align: left;
    font-weight: bold;
    border-radius: 8px;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
    text-align: center;
    color: #ffffff; /* Cor do texto */
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #57b6d9;
}

.content-table tbody tr.active-row {
    font-weight: bold;
    color: #57b6d9;
}

.btn {
    padding: 8px 12px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
}

.btn-danger {
    background-color: #e74c3c; /* Cor do botão Deletar */
    color: #ffffff;
    border: none;
}

.btn-success {
    background-color: #2ecc71; /* Cor do botão Editar */
    color: #ffffff;
    border: none;
}

.btn-danger:hover, .btn-success:hover {
    opacity: 0.8;
}
