<link rel="stylesheet" href=" {{ url_for('static', filename='css/navbar.css') }} ">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<body>
  <nav class="side-bar">
    <div class="logo-menu">
      <h2 class="logo">
        <i class='bx bxs-credit-card-alt' ></i>  
        ADVISORS</h2>
    </div>

    <ul class="list">
      <li class="list-item">
        <a href="home">
          <i class="bx bx-grid-alt"></i>
          <span class="link-name">Dashboard</span>
        </a>
      </li>
      <li class="list-item">
        <a href="cadaster">
          <i class="bx bx-grid alt"></i>
          <span class="link-name">Registros</span>
        </a>
      </li>
      <li class="list-item">
        <a href="{{url_for('investments')}}">
          <i class="bx bx-info-circle"></i>
          <span class="link-name">Investments</span>
        </a>
      </li>
    </ul>
  </nav>
</body>